# Настройки IDE (PyCharm)
.idea/

# Временные файлы Python
__pycache__/
*.pyc

# Виртуальное окружение
.venv/
venv/
env/

# Файлы БД (если не хотите коммитить базу)
*.sqlite3
*.db

# Другое (по желанию)
.vscode/
.DS_Store